/*
rustic color palette:
#778979
#ccdcc1
#e3d6ab
#a9916b
#d78258

Test box: border: solid 3px black;
*/
* {
    font-family: 'VT323', sans-serif;
}

h1 {
    font-size: 60px;
}

form, p {
    font-size: 28px;
}


header {
    width: 100%;
    background-color: #d78258;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    justify-content: center;
}

.navigation,
header,
.game,
.player-resources,
.intro,
.game-destination,
.game-secret-box,
.game-win {
    display: flex;
}

.navigation {
    align-items: center;
    justify-content: center;
}

.navigation li {
    display: inline-block;
    padding: 50px;
    font-size: 50px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

/*this to be removed later, FOR TESTING*/
.intro,
.game-destination,
.game-secret-box,
.game-win {
    flex-direction: column;
    align-items: center;
    /*border: solid 3px black;*/
}

body {
    background-color: #e3d6ab;
    text-align: center;
}

.game {
    flex-direction: column;
    margin-top: 110px;
}

.player-resources {
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-size: 30px;
}
.player-resources p {
    text-align: center;
    font-size: 30px;
}

/*fading effect*/
div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

#start-button,
#buy-button,
#submit-icao-button,
#restart-button,
button {
    border: none;
    background-color: #778979;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Henny Penny', sans-serif;
}

form {
    text-align: center;

}

input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-size: 25px;
}

.game-resource-update,
.game-destination,
.game-secret-box,
.game-win {
    position: absolute;
}

.game-resource-update {
    top: 40%;
    left: 19%;
}
.game-destination {
    top: 35%;
    left: 32%;
}

.game-secret-box {
    top: 40%;
    left: 10%;
}

.game-secret-box-buttons {
    align-items: center;
}

.game-win {
    top: 35%;
    left: 43%;
}